<script setup lang="ts">
import { ref, reactive, watch, nextTick } from "vue"; //reactive ต้องเก็บ object
// ref ใช้กลับตัวแปรที่ไม่เป็นกลุ่ม

class Person {
  id: number;
  name: string;
  surname: string;
  gender: string;
  static lastId = 1; //static เป็น attribute ของclass
  constructor(name: string, surname: string, gender: string) {
    this.id = Person.lastId++;
    this.name = name;
    this.surname = surname;
    this.gender = gender;
  }
}

const person = reactive<Person>({ id: -1, name: "", surname: "", gender: "" }); //reactive<Person> คือการกำหนด type ให้เป็น reactive
const msg = reactive({ name: "", surname: "", gender: "" });
const personList = ref<Person[]>([]); // สร้างarray ที่เก็บperson
const showForm = ref(false);

const checkName = function (name: string) {
  //trim คือตัดหน้าตัดท้าย แล้วเอาช่องว่างออก
  // === ในjava script คือ deap equal
  if (name.trim().length == 0) {
    msg.name = "First name is empty!!!";
    return false;
  }
  msg.name = "";
  return true;
};

const checkSurname = (surname: string) => {
  if (surname.trim().length == 0) {
    msg.surname = "Second name is empty!!!";
    return false;
  }
  msg.surname = "";
  return true;
};

function checkGender(gender: string) {
  //trim คือตัดหน้าตัดท้าย แล้วเอาช่องว่างออก
  // === ในjava script คือ deap equal
  if (gender.trim().length == 0) {
    msg.gender = "Gender is empty!!!";
    return false;
  }
  msg.gender = "";
  return true;
}

const clearForm = function () {
  //Updating
  person.name = "";
  person.surname = "";
  person.gender = "";
  person.id = -1;

  // nextTick คือ เมื่อทำทุกเงื่อนไข / อัพเดทเสร็จหมดแล้ว จะมาทำเงื่อนไขที่อยู่ใน function ของ nextTick
  nextTick(() => {
    msg.name = "";
    msg.surname = "";
    msg.gender = "";
  });
};

watch(
  () => person.name,
  (name) => {
    checkName(name);
  }
);

watch(
  () => person.surname,
  (surname) => {
    checkSurname(surname);
  }
);

watch(
  () => person.gender,
  (gender) => {
    checkGender(gender);
  }
);

function doSubmit() {
  if (
    checkName(person.name) &&
    checkSurname(person.surname) &&
    checkGender(person.gender)
  ) {
    if (person.id < 0) {
      //Add new (สร้างใหม่แล้วจับใส่เข้าไปใน list)
      const p = new Person(person.name, person.surname, person.gender);
      personList.value.push(p);
    } else {
      //Edit
      const index = personList.value.findIndex((item) => item.id === person.id); // หา index แล้วอัพเดททีละตัว
      //Update
      personList.value[index].name = person.name;
      personList.value[index].surname = person.surname;
      personList.value[index].gender = person.gender;
    }
    clearForm();
    showForm.value = false;
  }
}
const doEdit = function (p: Person) {
  person.name = p.name;
  person.surname = p.surname;
  person.gender = p.gender;
  person.id = p.id;
  showForm.value = true;
  /*
  //การหา Index
  const index = personList.value.findIndex((item) => item.id === p.id);
  console.log(personList.value[index]);
  //ถ้าเงื่อนไขนี้เป็นจริง มันจะ return index กลับมาให้เรา
  //findIndex เป็นฟังก์ชั่นของarray
  */
}; // () => {} คือ ฟังก์ชั่น call back
const doDelete = function (p: Person) {
  const index = personList.value.findIndex((item) => item.id === p.id);
  personList.value.splice(index, 1);
};
</script>

<template>
  <h2>Person</h2>
  <div v-if="showForm" class="form">
    <form>
      <label for="name">First Name</label>
      <input type="text" id="name" v-model="person.name" autocomplete="off" />
      <span class="error">{{ msg.name }}</span>

      <label for="surname">Second Name</label>
      <input type="text" id="surname" v-model="person.surname" />
      <span class="error">{{ msg.surname }}</span>

      <label for="gender">Gender</label>
      <select id="gender" v-model="person.gender">
        <option hidden selected>Select Gender</option>
        <option value="M">Male</option>
        <option value="F">Female</option>
      </select>
      <span class="error">{{ msg.gender }}</span>

      <input type="submit" value="Submit" @click.prevent="doSubmit" />
    </form>
  </div>
  <div v-if="!showForm">
    <div style="width: 100%; text-align: right">
      <button style="width: 100px" @click="showForm = !showForm">Add</button>
    </div>
    <table id="persons">
      <thead>
        <th>ID</th>
        <th>First Name</th>
        <th>Second Name</th>
        <th>Gender</th>
        <th style="width: 245px">Operation</th>
      </thead>
      <tr v-for="(item, index) in personList" :key="index">
        <td>{{ item.id }}</td>
        <td>{{ item.name }}</td>
        <td>{{ item.surname }}</td>
        <td>{{ item.gender }}</td>
        <td>
          <button
            style="width: 100px; margin-right: 1em; background-color: gray"
            @click="doEdit(item)"
          >
            ✎
          </button>
          <button
            style="width: 100px; margin-left: 1em; background-color: crimson"
            @click="doDelete(item)"
          >
            ❌
          </button>
        </td>
      </tr>
      <tr>
        <td
          colspan="5"
          style="text-align: center"
          v-if="personList.length === 0"
        >
          No Data
        </td>
      </tr>
    </table>
  </div>
</template>

<style scoped>
input[type="text"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"],
button {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

div.form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.error {
  color: red;
  font-size: smaller;
  display: block;
}

#persons {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

#persons td,
#persons th {
  border: 1px solid #ddd;
  padding: 8px;
}

#persons tr:nth-child(even) {
  background-color: #f2f2f2;
}

#persons tr:hover {
  background-color: #ddd;
}

#persons th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
</style>
